<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GerberParserSmartV4._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="ViewMaxScale" value="800" />
    </appSettings>
    <userSettings>
        <GerberParserSmartV4._0.Properties.Settings>
            <setting name="SelectedCircleColor" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="HeaderH2Color" serializeAs="String">
                <value>yellow</value>
            </setting>
            <setting name="HeaderH3Color" serializeAs="String">
                <value>green</value>
            </setting>
            <setting name="DefaultProjectRootPath" serializeAs="String">
                <value>Broad</value>
            </setting>
        </GerberParserSmartV4._0.Properties.Settings>
    </userSettings>
</configuration>